body{
    background-image: url(abstract-smooth-dark-blue-with-black-vignette-studio-well-use-as-background-business-report-digital-website-template-backdrop.jpg);
}
center{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:50%
}